
<div class="jumbotron">
  <h1 class="display-4">Gifs Finder</h1>
  <p class="lead">If you're reading this, congratulations. You pay more attention to detail then it is necessary.</p>
  <hr class="my-4">
  <p>No, really.. stop reading and do something productive.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  <%= form_tag "/", method: "get" do %>
    <%= text_field_tag :query%>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div>

  <ul>
    <% if @search_result %>
      <li><% @search_result.each do |url| %></li>
        <iframe src="<%= url %>"></iframe>
      <% end %>
    <% end %>
  </ul>

</div>
